
/CineShowTime_Ads/bin/CineShowTime_Ads.apk
/CineShowTime_Ads/bin/com/binomed/showtime/R$anim.class

*.class
*.ap_
*.cfg
*.dex
/CineShowTime_Ads/bin
/CineShowTime_AdsFree/bin
/Libraries/CineShowTime/bin
/Libraries/GreenDroid/bin
/CineShowTime_AdsFree/gen/com/binomed/showtime/R.java
/CineShowTime_AdsFree/gen/com/binomed/showtime/adsfree/R.java
/CineShowTime_AdsFree/gen/com/cyrilmottier/android/greendroid/R.java