<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.binomed.showtime.android"
      android:versionName="1.1" android:versionCode="2">
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:debuggable="false">
        <activity android:label="@string/app_name" android:name=".activity.AndShowTimeMainActivity" android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    	<activity android:name=".searchnearactivity.AndShowTimeSearchNearActivity"></activity>
		<activity android:name=".movieactivity.AndShowTimeMovieActivity"></activity>
		<service android:name=".searchnearactivity.AndShowTimeSearchNearService"></service>
		<service android:name=".movieactivity.AndShowTimeMovieService"></service>
		<activity android:name=".activity.AndShowTimePreferencesActivity"></activity>
		<service android:name=".searchnearactivity.AndShowTimeSearchNearDBService"></service>
		<activity android:name=".searchmovieactivity.AndShowTimeSearchMovieActivity"></activity>
		<service android:name=".searchmovieactivity.AndShowTimeSearchMovieService"></service>
		<service android:name=".searchmovieactivity.AndShowTimeSearchMovieDBService"></service>
		<service android:name=".service.AndShowCleanFileService"></service>
		
		<service android:name=".widget.AndShowTimeWidgetService"/>
		<service android:name=".widget.AndShowTimeWidgetServiceLeft"/>
		<service android:name=".widget.AndShowTimeWidgetServiceRight"/>
		<service android:name=".widget.AndShowTimeWidgetServiceRefresh"/>
		<service android:name=".widget.AndShowTimeWidgetServiceOpenMovie"/>
		<service android:name=".widget.AndShowTimeWidgetServiceOpenMovie1"/>
		<service android:name=".widget.AndShowTimeWidgetServiceOpenMovie2" />
		<service android:name=".widget.AndShowTimeWidgetServiceOpenMovie3" />
		<activity android:name=".widget.AndShowTimeWidgetConfigureActivity">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE">
				</action>
			</intent-filter>
		</activity>
		<receiver android:name=".widget.AndShowtimeWidget" android:label="@string/widget_name_2x2">
			<intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget" />
		</receiver>
	</application>
    <uses-sdk android:minSdkVersion="3" android:maxSdkVersion="4" android:targetSdkVersion="3"/>

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
	
	<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>


</manifest> 